# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env.*
venv/
ENV/
*.egg-info/
dist/
build/

# VS Code
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo

# Coverage
coverage/
*.cover
*.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Test output
test-

